# Homework Assignment - Lesson 2: Data Cleaning - Handling Missing Values and Outliers

**Student Name:** [Bailey Wright]  
**Date:** [09/11/2025]]  
**Course:** Data Management  

---

## Instructions

Complete all the tasks below by adding your R code in the code cells and your written responses in markdown cells. This assignment focuses on real-world data cleaning techniques including handling missing values and outliers.

**ðŸ’¡ Key Learning Goals:**
- Identify and handle missing values using multiple strategies
- Detect and treat outliers using statistical methods
- Make informed decisions about data quality trade-offs
- Document your data cleaning process and reasoning

**ðŸ“‹ SUBMISSION**: When you're done, see [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for complete submission instructions.

---

### Part 1: Data Import and Initial Assessment

In this section, you'll import a "messy" dataset that contains missing values and outliers, simulating real-world data quality challenges.

#### 1.1 Environment Setup

Load the required packages for data cleaning and analysis.

In [3]:
# Load required packages for data cleaning
library(tidyverse) # For data manipulation and visualization
setwd("/workspaces/assignment-2-version3-BaileyWright123/assignment/Homework")
# Check current working directory
getwd()

â”€â”€ Attaching core tidyverse packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 2.0.0 â”€â”€
âœ” dplyr     1.1.4     âœ” readr     2.1.5
âœ” forcats   1.0.0     âœ” stringr   1.5.1
âœ” ggplot2   3.5.2     âœ” tibble    3.3.0
âœ” lubridate 1.9.4     âœ” tidyr     1.3.1
âœ” purrr     1.1.0
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()
â„¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "/workspaces/assignment-2-version3-BaileyWright123/assignment/Homework"

#### 1.2 Import Messy Dataset

Import the provided messy sales dataset that contains real-world data quality issues including missing values, outliers, and inconsistencies.

In [4]:
# Import the messy sales dataset
messy_sales <- read_csv("../../data/raw/messy_sales_data.csv")

print("Messy sales dataset imported successfully!")
print(paste("Dataset contains", nrow(messy_sales), "rows and", ncol(messy_sales), "columns"))
print(paste("Column names:", paste(names(messy_sales), collapse = ", ")))

Rows: 200 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (2): Customer_Name, Product_Category
dbl  (3): TransactionID, Sales_Amount, Quantity
date (1): Purchase_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Messy sales dataset imported successfully!"
[1] "Dataset contains 200 rows and 6 columns"
[1] "Column names: TransactionID, Customer_Name, Product_Category, Sales_Amount, Purchase_Date, Quantity"

#### 1.3 Initial Data Assessment

Perform a comprehensive inspection of the messy dataset to understand its structure and identify data quality issues.

In [5]:
# Inspect the messy dataset
print("=== DATASET OVERVIEW ===")
head(messy_sales, 10) # First 10 rows

[1] "=== DATASET OVERVIEW ==="

   TransactionID Customer_Name Product_Category Sales_Amount Purchase_Date
1   1            NA            Home              362.3175    <NA>
2   2            Alice Brown   Clothing          573.0791    2023-10-21
3   3            Jane Doe      Electronics       487.6874    2023-12-28
4   4            Jane Doe      Electronics      5000.0000    2023-06-16
5   5            John Smith    Books             344.1746    2023-05-05
6   6            John Smith    Books             434.9527    2023-11-28
7   7            Jane Doe      Home              489.0863    2023-08-17
8   8            Jane Doe      Electronics       536.9202    2023-05-17
9   9            Jane Doe      Clothing          793.3933    2023-08-13
10 10            Jane Doe      electronics       649.4286    2023-10-16
   Quantity
1    2
2    3
3   -1
4    7
5  100
6    4
7    0
8    7
9    3
10   2

# Structure and summary of the data
print("=== DATA STRUCTURE ===")
str(messy_sales)

print("=== SUMMARY STATISTICS ===")
summary(messy_sales)

In [6]:
**Data Quality Assessment:**

Based on the imported messy_sales dataset, document all the data quality issues you observe:

1. **Missing Values:** [Look for NA values - which columns have missing data?]

2. **Potential Outliers:** [Check Sales_Amount and Quantity - do any values seem extreme?]

3. **Data Inconsistencies:** [Look at Product_Category - are there inconsistent naming conventions?]

4. **Data Types:** [Are Purchase_Date and Sales_Amount using appropriate data types?]

5. **Invalid Values:** [Are there any logically impossible values like negative quantities?]

**YOUR OBSERVATIONS:**

[1. Missing Values: The purchase date and customer name columns have missing values in row 1.

2. Potential Outliers: Sales Amount row 4 has value of 5000 and quantity of 7 while row 8 has same quantiy with much smaller sales amount. also row 5 of quantity is 100.

[3. Data Inconsistencies: Electronics in row 10 is not capitalized.

4. Data Types: yes the data types seem to be correct 

5. in the quantity column there is a negative value in row 3.

ERROR: Error in parse(text = input): <text>:1:1: unexpected '^'
1: **
    ^

---

### Part 2: Missing Value Analysis and Treatment

In this section, you'll identify missing values and apply different strategies to handle them.



Complete the following tasks to thoroughly understand the missing value patterns in your dataset.

In [ ]:
# Calculate total missing values in the entire dataset
total_missing <- sum(is.na(messy_sales))

# Calculate missing values per column
missing_per_column <- sapply(messy_sales, function(x) sum(is.na(x)))

# Identify rows with missing values
incomplete_rows <- messy_sales[!complete.cases(messy_sales), ]

print(paste("Total missing values:", total_missing))
print("Missing values per column:")
print(missing_per_column)
print("Rows with missing values:")
print(incomplete_rows)

[1] "Total missing values: 52"
[1] "Missing values per column:"
   TransactionID    Customer_Name Product_Category     Sales_Amount
               0               16                0               22
   Purchase_Date         Quantity
              14                0
[1] "Rows with missing values:"
# A tibble: 44 Ã— 6
   TransactionID Customer_Name Product_Category Sales_Amount Purchase_Date
           <dbl> <chr>         <chr>                   <dbl> <date>
 1             1 NA            Home                     362. NA
 2            16 Bob Johnson   Books                    246. NA
 3            18 John Smith    electronics               NA  2023-05-21
 4            21 NA            Books                    483. 2023-04-04
 5            23 Jane Doe      Home                      NA  2023-01-11
 6            26 NA            Clothing                 531. 2023-09-12
 7            31 Jane Doe      Books                    715. NA
 8            41 NA            ELECTRONICS              789. 2023-11-04
 9            43 Bob Johnson   ELECTRONICS               NA  2023-12-28
10            45 Jane Doe      electronics               NA  2023-01-08
# â„¹ 34 more rows
# â„¹ 1 more variable: Quantity <dbl>

In [ ]:
"#### 2.2 Missing Value Treatment - Option A (Removal)
"

Create a dataset with all missing value rows removed and compare the results.

ERROR: Error in parse(text = input): <text>:4:8: unexpected symbol
3:
4: Create a
          ^

In [7]:
# TODO: Remove all rows with missing values
sales_removed_na <- na.omit(messy_sales)

# Compare dimensions
print("Original dataset dimensions:")
print(dim(messy_sales))
print("After removing NA rows:")
print(dim(sales_removed_na))
print(paste("Rows lost:", nrow(messy_sales) - nrow(sales_removed_na)))

[1] "Original dataset dimensions:"
[1] 200   6
[1] "After removing NA rows:"
[1] 156   6
[1] "Rows lost: 44"

#### 2.3 Missing Value Treatment - Option B (Imputation)


Apply appropriate imputation strategies for different types of variables.

In [8]:
## Create a copy for imputation
sales_imputed <- messy_sales

In [ ]:
### TODO: Create a mode function for categorical variables
get_mode <- function(v) {
  ### YOUR CODE HERE
  ### Hint: Use unique(), tabulate(), match(), and which.max()
}

In [ ]:
### TODO: Impute Customer_Name with mode (for categorical missing values)
sales_imputed$Customer_Name <- # YOUR CODE HERE

In [ ]:
### To practice median imputation, try it on Quantity column
### TODO: Impute Quantity with median (alternative approach for numeric data)
sales_imputed$Quantity <- # YOUR CODE HERE

In [ ]:
### Verify imputation success
print("Missing values after imputation:")
print(colSums(is.na(sales_imputed)))

In [ ]:
#### 2.4 Compare Missing Value Strategies Analyze the impact of different missing value treatment approaches.

In [ ]:
# Compare summary statistics
print("=== ORIGINAL DATA ===")
summary(messy_sales$Sales_Amount)

In [ ]:
print("=== AFTER REMOVING NAs ===")
summary(sales_removed_na$Sales_Amount)

In [ ]:
print("=== AFTER IMPUTATION ===")
summary(sales_imputed$Sales_Amount)


**Analysis Questions:**

1. **Which approach would you recommend for this dataset and why?**

[YOUR ANSWER HERE]

2. **What are the trade-offs between removal and imputation?**

[YOUR ANSWER HERE]

---

"### Part 3: Outlier Detection and Treatment
",

Using your imputed dataset, identify and handle outliers in the Sales_Amount variable.

In [ ]:
"#### 3.1 Outlier Detection Using IQR Method
",

Apply the interquartile range method to identify outliers in Sales_Amount.

In [ ]:
### TODO: Calculate quartiles and IQR for Sales_Amount
Q1_sales <- # YOUR CODE HERE
Q3_sales <- # YOUR CODE HERE  
IQR_sales <- # YOUR CODE HERE

In [ ]:
### TODO: Calculate outlier thresholds
upper_threshold <- # YOUR CODE HERE
lower_threshold <- # YOUR CODE HERE

In [ ]:
### TODO: Identify outliers
outliers <- # YOUR CODE HERE

print(paste("Q1:", Q1_sales))
print(paste("Q3:", Q3_sales))
print(paste("IQR:", IQR_sales))
print(paste("Lower threshold:", lower_threshold))
print(paste("Upper threshold:", upper_threshold))
print(paste("Number of outliers found:", nrow(outliers)))
print("Outlier rows:")
print(outliers)

### 3.2 Outlier Visualization

Create a boxplot to visualize the outliers in Sales_Amount.

In [ ]:
### TODO: Create a boxplot for Sales_Amount
# Use ggplot2 to create a boxplot showing outliers
boxplot_sales <- # YOUR CODE HERE

# Display the plot
print(boxplot_sales)

### 3.3 Outlier Treatment - Option A (Removal)

Remove rows containing outliers and assess the impact.

In [ ]:
### TODO: Remove outliers from the imputed dataset
sales_outliers_removed <- # YOUR CODE HERE

print(paste("Original rows:", nrow(sales_imputed)))
print(paste("After removing outliers:", nrow(sales_outliers_removed)))
print(paste("Rows removed:", nrow(sales_imputed) - nrow(sales_outliers_removed)))

### 3.4 Outlier Treatment - Option B (Capping)

Apply capping/winsorization to handle outliers while preserving data points.

### 3.2 Outlier Visualization

Create a boxplot to visualize the outliers in Sales_Amount.

In [ ]:
# TODO: Create a boxplot for Sales_Amount
# Use ggplot2 to create a boxplot showing outliers
boxplot_sales <- # YOUR CODE HERE
# Hint: ggplot(sales_imputed, aes(y = Sales_Amount)) + geom_boxplot() + ggtitle("Sales Amount Outliers")

# Display the plot
print(boxplot_sales)

### 3.3 Outlier Treatment - Option A (Removal)

Remove rows containing outliers and assess the impact.

In [ ]:
### TODO: Remove outliers from the imputed dataset
sales_outliers_removed <- # YOUR CODE HERE
# Hint: Use filter() to keep only rows within the threshold bounds

print(paste("Original rows:", nrow(sales_imputed)))
print(paste("After removing outliers:", nrow(sales_outliers_removed)))
print(paste("Rows removed:", nrow(sales_imputed) - nrow(sales_outliers_removed)))

In [ ]:
### TODO: Create a capped version of the dataset
sales_outliers_capped <- sales_imputed

In [ ]:
### TODO: Apply capping to Sales_Amount
sales_outliers_capped$Sales_Amount <- # YOUR CODE HERE
### Hint: Use ifelse() to replace values above/below thresholds

In [ ]:
### Verify capping worked
print("Sales_Amount range after capping:")
print(range(sales_outliers_capped$Sales_Amount, na.rm = TRUE))

In [ ]:
### Check for remaining outliers
remaining_outliers <- # YOUR CODE HERE
print(paste("Remaining outliers after capping:", nrow(remaining_outliers)))

---

## Part 4: Final Data Quality Assessment and Decision Making

Choose your final cleaned dataset and justify your decision based on the analysis you've completed.

In [ ]:
# TODO: Choose your final cleaned dataset
final_dataset <- # Choose one: messy_sales, sales_removed_na, sales_imputed, sales_outliers_removed, or sales_outliers_capped

print("=== FINAL DATASET SUMMARY ===")
print(dim(final_dataset))
summary(final_dataset$Sales_Amount)

**Justification for Your Choice:**

[Explain why you chose this particular cleaned dataset. Consider factors like:
- Sample size preservation
- Data quality improvements
- Business impact
- Analysis requirements]

**YOUR JUSTIFICATION:**

[Write your detailed reasoning here]

### 4.2 Create Comparison Summary

Create a comprehensive comparison of your original and final datasets.

In [ ]:
# Create comparison summary
comparison_summary <- data.frame(
  Metric = c("Number of Rows", "Missing Values", "Mean Sales_Amount", "Median Sales_Amount", "Outliers"),
  Original_Data = c(
    nrow(messy_sales),
    sum(is.na(messy_sales)),
    round(mean(messy_sales$Sales_Amount, na.rm = TRUE), 2),
    round(median(messy_sales$Sales_Amount, na.rm = TRUE), 2),
    "Check manually" # TODO: Calculate this
  ),
  Final_Data = c(
    nrow(final_dataset),
    sum(is.na(final_dataset)),
    round(mean(final_dataset$Sales_Amount, na.rm = TRUE), 2),
    round(median(final_dataset$Sales_Amount, na.rm = TRUE), 2),
    "Check manually" # TODO: Calculate this
  )
)

print("=== DATA CLEANING COMPARISON ===")
print(comparison_summary)

---

## Part 5: Reflection Questions

Answer the following questions to demonstrate your understanding of data cleaning concepts and their business implications.

### Question 1: Missing Value Strategy

In what business scenarios would you prefer removing rows with missing values versus imputing them? Provide specific examples.

**YOUR ANSWER:**

[Write your detailed response here]

### Question 2: Outlier Interpretation  

You identified outliers in the Sales_Amount column. In a real business context, what could these outliers represent? Should they always be removed or treated? Explain your reasoning.

**YOUR ANSWER:**

[Write your detailed response here]

### Question 3: Data Quality Impact

How might the presence of missing values and outliers affect common business analytics tasks such as calculating average sales, identifying top-performing products, or forecasting future sales?

**YOUR ANSWER:**

[Write your detailed response here]

### Question 4: Ethical Considerations

What are the ethical implications of removing or modifying data during the cleaning process? How can analysts ensure transparency and maintain data integrity?

**YOUR ANSWER:**

[Write your detailed response here]

---

## Submission Checklist

Before submitting, make sure you have:

- [ ] **Part 1**: Created and inspected the messy dataset
- [ ] **Part 2**: Completed missing value identification and treatment
- [ ] **Part 3**: Detected and treated outliers using IQR method  
- [ ] **Part 4**: Chosen and justified your final cleaned dataset
- [ ] **Part 4**: Created comparison summary table
- [ ] **Part 5**: Answered all reflection questions thoroughly
- [ ] **Code Quality**: All TODO sections completed with working code
- [ ] **Documentation**: Added your name and date at the top
- [ ] **Testing**: Run all cells to verify output
- [ ] **Submission**: Committed and pushed to GitHub

**Great work mastering data cleaning techniques! ðŸ§¹âœ¨**

---

## ðŸš€ Ready to Submit?

### Easy Submission Steps (No Command Line Required!):

1. **Save this notebook** (Ctrl+S or File â†’ Save)

2. **Use VS Code Source Control**:
   - Click the **Source Control** icon in the left sidebar (tree branch symbol)
   - Click the **"+"** button next to your notebook file
   - Type a message: `Submit homework 2 - Data Cleaning - [Your Name]`
   - Click **"Commit"** 
   - Click **"Sync Changes"** or **"Push"**

3. **Verify on GitHub**: Go to your repository online and confirm your notebook appears with your completed work

**ðŸ“– Need help?** See [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for detailed instructions.

**ðŸŽ‰ Congratulations on completing your data cleaning assignment!**